.homeImage {
  width: 600px;
  height: 600px;
  margin: 100px auto 0;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 50%;
}


.loginButtons {
  display: flex;
  column-gap: 20px;
  margin-left: auto;
}


.foodEntriesLink {
  margin-left: 20px;

}
